/* All buttons */
.buttons{
	border: 2px solid #c2c2d6;
	border-radius: 4px;
}

td{
	text-align: center;
}

#login{

}

#invalid{
	text-align: center;
	color: blue;
}

nav.menu{
	color: blue;
	font-size:18px;
}

#active{
	font-weight: bold;
}

/* Result table - Vehicle Time In */
#vLog{
	border-radius: 30px;
	border: 1px solid #c2c2d6;
	width: 50%;
	border-collapse: collapse;
	text-align: center;
}

.head{
	text-align:center;
	background-color:  #efeff5;
	border: 1px solid #c2c2d6;
	padding: 5px;
}

.col{
	text-align: center;
	border: 1px solid #c2c2d6;
	padding: 5px;
}


/* View Table */
#viewtable{
	border-radius: 30px;
	border: 1px solid #c2c2d6;
	width: 80%;
	border-collapse: collapse;
	text-align: center;

}

table{
	table-layout: fixed;
	padding: 5px;
}

#view{
	align: center;
	height: 800px;
}


/*	tr:hover {background-color: #e6e6ff} */

/* SEARCH TABLE */

