#printHeader {
    display: none;
}








@media print {
    
    body {
        left: 0;
    }
    
    .main-footer {
        display: none;
    }
    
    #printReports {
        display: none;
    }
    
    .form-control {
        display: none;
    }
    
    label {
        display: none;
    }
    
    .pagination {
        display: none;
    }
    
    .column-options {
        display: none;
    }
    
    .modal {
        display:block;
    }
    #printHeader {
    display: block;
}
}


